appdirs==1.4.4
asgiref==3.3.4
astroid==2.5
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cycler==0.10.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.2.2
django-cleanup==5.2.0
django-crispy-forms==1.11.2
django-heroku==0.3.1
docopt==0.6.2
filelock==3.0.12
fire==0.1.2
gunicorn==20.1.0
idna==2.10
isort==5.7.0
kiwisolver==1.3.1
lazy-object-proxy==1.5.2
matplotlib==3.4.0
mccabe==0.6.1
mpmath==1.2.1
mutagen==1.45.1
numpy==1.20.2
nupy==0.1.1
peewee==2.8.8
Pillow==8.2.0
pipenv==2021.5.29
pipreqs==0.4.10
psycopg2==2.8.6
pygame==2.0.1
pylint==2.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytube==10.8.2
pytz==2020.1
requests==2.25.1
six==1.15.0
sqlparse==0.3.1
sympy==1.7.1
toml==0.10.2
urllib3==1.26.4
virtualenv==20.4.3
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
waitress==2.0.0
whitenoise==5.2.0
Workon==0.8.2
wrapt==1.12.1
yarg==0.1.9
